<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <img class="image" src = "../../assets/card.png"/>
  
  <ion-grid>
    <ion-card>
        <ion-row>
            <ion-col class="col" text-center>
                <h1> ₱ 1001.78 </h1>
                <h6> Available Balance</h6>
            </ion-col>
            <ion-col class="col" text-center> 
                <h1> 589 </h1>
                <h6> Total Bottles Recycled </h6> 
                
            </ion-col>
        </ion-row>    
    </ion-card>

      <ion-card>
          <ion-button expand="block">Transfer Money</ion-button>
          <ion-button expand="block">Recycle Bottles</ion-button>
          <ion-button expand="block">View Transaction History</ion-button>
          <ion-button expand="block">Edit Profile</ion-button>
          <ion-button expand="block">Logout</ion-button>
      </ion-card>
  </ion-grid>
</ion-content>
