
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Trash to Cash</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-slides>

      <ion-slide>
        <img src="../../assets/slide-1.png"/>
        <h2>Welcome to <b>Trash2Cash</b></h2>
        <p></p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/slide-3.png"/>
        <h2>What is Ionic Pro?</h2>
        <p><b>Ionic Pro</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
      </ion-slide>

      <ion-slide>
        <img src="./../assets/slide-4.png"/>
        <h2>Are you ready to help?</h2>
        <a routerLink="/index"><button fill = "clear" > GET STARTED <ion-icon slot="end" name="arrow-forward"></ion-icon></button></a>
      </ion-slide>

    </ion-slides>
  </ion-content>
